[user]
	name = masawo
	email = masawo@gmail.com
[color]
	ui = true
[core]
	excludesfile = /Users/masawo/.gitignore_global
	editor = /Applications/MacVim.app/Contents/MacOS/Vim
[push]
	default = matching
